.App {
  text-align: center;
  border: 1px solid #000;
  width: 30%;
  margin: 50px auto;
  padding: 20px;
  background-color: #ddd;
}

button.control {
  margin: 10px;
  width: 30%;
}

.name {
  border: 1px solid #000;
  position: relative;
}

.name:nth-of-type(odd) {
  background-color:#83a383;
}

.name:nth-of-type(even) {
  background-color: #d5e7d5;
}

button:not(.control) {
  background-color: #fff;
  border-radius: 50%;
  height: 26px;
  width: 26px;
  position: absolute;
  right: 25%;
  top: 14px;
  text-align: center;
}

@media (max-width: 800px) {
  .App {
    width: 80%;
  }
}